/* App Home Page CSS */
.restaurantCategoriesHolder {
	margin-top: 15px;
	margin-bottom: 25px;
}

@media ( max-width : 575px) {
	.MuiImageListItem-root {
		width: 100% !important;
	}
}

@media ( min-width : 576px) and (max-width: 991px) {
	.MuiImageListItem-root {
		width: 50% !important;
	}
	.MuiTypography-subtitle1 {
		font-size: 15px !important;
		line-height: 22px !important;
	}
	.restaurantCategoriesHolder {
		margin-bottom: 22px !important;
	}
	.MuiImageListItem-root {
		padding: 0px 5px !important;
	}
}

@media ( min-width : 992px) and (max-width: 1200px) {
	.MuiImageListItem-root {
		width: 33.3% !important;
	}
}