/* Header CSS */
.Header-FormControl-25 {
	width: 95%;
}

.responseErrorHolder {
	max-width: 320px;
}

.dispBlock {
	display: block;
}

.dispNone {
	display: none;
}

.redError {
	color: #ff0000;
}

#customerProfile {
	color: #fff;
}